@page "/"

<h1>Hello!</h1>

<h3>Welcome to Order Management App.</h3>


<p>
    There are total @Count <a href="suppliers">Suppliers</a>
</p>

@code {
    private int Count { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var suppliers = await _dataProvider.GetSuppliersAsync();
        Count = suppliers.Count;
    }
}